<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>32BitSupportedModels</key>
	<array>
		<string>MacBook7,1</string>
		<string>MacBookAir5,2</string>
		<string>MacBookPro10,1</string>
		<string>MacPro5,1</string>
		<string>Macmini5,3</string>
		<string>iMac12,2</string>
	</array>
	<key>BuildMachineOSBuild</key>
	<string>16B2657</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Boot Camp Assistant</string>
	<key>CFBundleExecutable</key>
	<string>Boot Camp Assistant</string>
	<key>CFBundleGetInfoString</key>
	<string>Boot Camp Assistant 6.1.0, Copyright © 2016 Apple Inc. All rights reserved</string>
	<key>CFBundleIconFile</key>
	<string>DA</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.bootcampassistant</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Boot Camp Assistant</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleVersion</key>
	<string>6067.60.1</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>9P107g</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>17G11015</string>
	<key>DTSDKName</key>
	<string>macosx10.13internal</string>
	<key>DTXcode</key>
	<string>0930</string>
	<key>DTXcodeBuild</key>
	<string>9P107g</string>
	<key>ExternalInstallOnlyModels</key>
	<array>
		<string>MacBookAir7,1</string>
	</array>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>PreESDRequiredModels</key>
	<array>
		<string>MacBook7</string>
		<string>MacBookAir5</string>
		<string>MacBookPro10</string>
		<string>MacPro5</string>
		<string>Macmini6</string>
		<string>iMac13</string>
	</array>
	<key>PreUEFIModels</key>
	<array>
		<string>MacBook7</string>
		<string>MacBookAir5</string>
		<string>MacBookPro10</string>
		<string>MacPro5</string>
		<string>Macmini6</string>
		<string>iMac13</string>
	</array>
	<key>USBBootSupportedModels</key>
	<array>
		<string>MacBook7,1</string>
		<string>MacBookAir3,2</string>
		<string>MacBookPro8,3</string>
		<string>MacPro5,1</string>
		<string>Macmini4,1</string>
		<string>iMac12,2</string>
	</array>
	<key>PreWindows10OnlyModels</key>
	<array>
		<string>MacBookAir7,2</string>
		<string>MacBookPro12,1</string>
		<string>MacPro6,1</string>
		<string>Macmini7,1</string>
		<string>iMac17,1</string>
	</array>
	<key>SupporedNonWin10Models</key>
	<array>
		<string>MacBook6,1</string>
		<string>MacBook7,1</string>
		<string>MacBookAir3,1</string>
		<string>MacBookAir3,2</string>
		<string>MacBookAir4,1</string>
		<string>MacBookAir4,2</string>
		<string>MacBookPro6,1</string>
		<string>MacBookPro6,2</string>
		<string>MacBookPro7,1</string>
		<string>MacBookPro8,1</string>
		<string>MacBookPro8,3</string>
		<string>Macmini4,1</string>
		<string>Macmini5,1</string>
		<string>Macmini5,2</string>
		<string>Macmini5,3</string>
		<string>iMac10,1</string>
		<string>iMac11,1</string>
		<string>iMac11,2</string>
		<string>iMac11,3</string>
		<string>iMac12,1</string>
		<string>iMac12,2</string>
		<string>MacPro5,1</string>
	</array>
	<key>UEFIOnlyModels</key>
	<array>
		<string>MacBook8,1</string>
		<string>MacBook7,1</string>
		<string>MacBookPro11,4</string>
		<string>MacPro6,1</string>
		<string>iMac16,1</string>
	</array>
	<key>Win7OnlyModels</key>
	<array>
		<string>MacBook7,1</string>
		<string>MacBook6,1</string>
		<string>MacBookAir3,1</string>
		<string>MacBookAir3,2</string>
		<string>MacBookPro5,5</string>
		<string>MacPro2,1</string>
		<string>Macmini4,1</string>
		<string>iMac10,1</string>
		<string>iMac11,1</string>
		<string>iMac11,2</string>
	</array>
</dict>
</plist>
